@using BlazorChatling.Data
@using BlazorChatling.Data.DBContextFiles
@using System.Globalization
@inject UserInfoGlobalClass UserInfoGlobalClass
@inject ChatsDAOService ChatsDAOService


@if (@Message.IdUser != UserInfoGlobalClass.user.Id) {
    <table style="width: 600px;">
        <tr style="height: 30px;">
            <td style=" width: 50px;" rowspan="3">
                <div class="dot">
                    <h2 class="litera">@User.Name[0]</h2>
                </div>
            </td>
            <td style=" width: 50px;" rowspan="3">
                <div class="cloudy" />
            </td>
            <td class="username-div">
                @if (Message.IdReplyMessage != null)
                    if (Message.IsReplyVisibleToGroup.Value) {
                        <p class="username"><strong>@User.Name</strong> replies to @TargetUser.Name</p>
                    } else {
                        <p class="username"><strong>@User.Name</strong> whispers to @TargetUser.Name</p>
                    }
                else {
                    <p class="username"><strong>@User.Name</strong></p>
                }
            </td>
            <td class="time-div">
                <p class="time">@Message.MsgTime.Value.ToString("T",CultureInfo.GetCultureInfo("de-DE"))</p>
            </td>
        </tr>
        <tr>
            <td colspan="2" class="text-area-div">
                @if (Message.IdReplyMessage != null) {
                    <div style="margin-left: 10px; border-left:2px solid black; padding-left:10px;">
                        <p> @TargetMessage.MsgText </p>
                    </div>
                }
                <p style="margin-left: 10px;">@Message.MsgText</p>
            </td>
        </tr>
        <tr style="height: 25px;">
            <td colspan="2">
                <div class="edited-div">
                    @if (Message.IsEdited.Value) {
                        <p class="edited">edited</p>
                    }
                </div>
            </td>
        </tr>
    </table>
} else {
    <table style="width: 500px; float:right">
        <tr style="height: 30px;">
            <td class="username-div">
                @if (Message.IdReplyMessage != null)
                    if (Message.IsReplyVisibleToGroup.Value) {
                        <p class="username"><strong>@User.Name</strong> replies to @TargetUser.Name</p>
                    } else {
                        <p class="username"><strong>@User.Name</strong> whispers to @TargetUser.Name</p>
                    }
                else {
                    <p class="username"><strong>@User.Name</strong></p>
                }
            </td>
            <td class="time-div">
                <p class="time">@Message.MsgTime.Value.ToString("T",CultureInfo.GetCultureInfo("de-DE"))</p>
            </td>
        </tr>
        <tr>
            <td colspan="2" class="text-area-div">
                @if (Message.IdReplyMessage != null) {
                    <div style="margin-left: 10px; border-left:2px solid black; padding-left:10px;">
                        <p> @TargetMessage.MsgText </p>
                    </div>
                }
                <p style="margin-left: 10px;">@Message.MsgText</p>
            </td>
        </tr>
        <tr style="height: 25px;">
            <td colspan="2">
                <div class="edited-div-self">
                    @if (Message.IsEdited.Value) {
                        <p class="edited">edited</p>
                    }
                </div>
            </td>
        </tr>
    </table>
}







@code {
    [Parameter]
    public Messages Message { get; set; }

    [Parameter]
    public Messages? TargetMessage { get; set; }

    [Parameter]
    public Users User { get; set; }
    

    [Parameter]
    public Users? TargetUser { get; set; }

      


}
